/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
!web/js/translator.js
/web/js/translations/
/web/ng-admin-custom/node_modules/
/web/ng-admin-custom/src/javascripts/bower_components/
/web/ng-admin/*
/web/reports/
.fuse_*