
@import 'bs-callout';
@import 'simple-sidebar.scss';
@import '_variables.scss';
@import '../../../ng-admin/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
body{
	font-family: Roboto,sans-serif!important;
	font-weight: 400;
}
.animate{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#footer {
	padding: 40px 0 30px;
	color: #6e798b;
	border-top: 1px solid #dedede;
	font-size: 12px;
}

.login-panel{
	margin-bottom: 25%!important;

	.checkbox{
		width: 40%;
	}
}

.img-responsive-center{
	margin: 0 auto;
}
.drapp-home{
  	color: #585858;

	padding: 50px 0px;
	background: #f7f7f7;
	.drapp-logo{
		margin: 0 auto;
	}


	.title{
		h3{
			display: inline-block;
			font-size: 50px;
			position: relative;
		}
	}
	.desc{
		p{
			font-size: 18px;
			line-height: 35px;
			margin: 20px 0;
		}
	}
	.download{
		font-size: 26px;
		a{
			margin-top: 10px;
		}
	}
}
.step{
  	color: #585858;
	padding: 60px 0px;
	p {
		font-size: 18px;
		line-height: 35px;
		padding-top: 5px;
	}
	h3 {
		display: inline-block;
		height: 78px;
		font-size: 26px;
		position: relative;
	}
}




@media (max-width: 768px){
	.step {
		padding: 10px 0px;
		border-bottom: 1px #ccc solid;
		&:last-child {
			border-bottom: none;
		}
	}
	.step .img-responsive{
		margin: 0 auto;
	}
	.login-panel{
		margin-top: 10%!important;
		margin-bottom: 10%!important;
	}
}

@media screen and (min-width: 768px){
	.navbar-drapp{
		.navbar-brand {
			font-size: 20px;
			height: auto;
			padding: 15px 5px;
		}

		.navbar-nav>li:not(.disabled).active>a,
		.navbar-nav>li:not(.disabled).open>a,
		.navbar-nav>li:not(.disabled)>a:focus,
		.navbar-nav>li:not(.disabled)>a:hover {
			border-bottom-width: 5px;
			border-left-width: 0;
			padding-bottom: 10px;
			padding-left: 14px;
		}
	}
	.login-panel{
		margin-top: 10%!important;
		margin-bottom: 10%!important;
	}
}


#nprogress .bar{
	background: $navbar-default-link-color !important;
}
/* .navbar-drapp{
	.navbar-nav>li>a {
		border: 0 solid $navbar-default-link-color;
		color: $navbar-default-link-color;
		padding: 15px 14px;
	}

	.navbar-nav>li:not(.disabled).active>a,
	.navbar-nav>li:not(.disabled).open>a,
	.navbar-nav>li:not(.disabled)>a:focus,
	.navbar-nav>li:not(.disabled)>a:hover {
		border-left-width: 5px;
		color: $navbar-default-link-hover-color;
		padding-left: 10px;
	}

	.navbar-nav>li>.dropdown-menu>li>a {
		  border-left: 0 solid #5FB0E4;
		  color: #787878;
		  font-size: 16px;
		  font-weight: 400;
		  padding: 10px 20px;
		  white-space: nowrap;
	}
} */

@import '../../../ng-admin/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_buttons.scss';


// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
}


@media(min-width:768px) {
    .sidebar {
        margin-top: 1px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


.sidebar{
	ul>li{
    	border-bottom: 1px solid $navbar-default-border;
	}
	ul>li>a {
		color: $navbar-default-link-color;

		&:hover,
	    &:focus {
	        color: $navbar-default-link-hover-color;
	        background-color: $navbar-default-link-hover-bg;
        }
	}
	ul>li>a.active {
	    	background-color: $navbar-default-link-color;
			color: $navbar-default-link-active-color;
		&:hover,
      	&:focus {
        	color: $navbar-default-link-active-color;
        	background-color: $navbar-default-link-active-bg;
      }
	}
}