<div class="list-group">
  <a href="{{ path('fos_user_profile_show') }}" class="list-group-item">Perfil</a>
  <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Cuenta</a>
  <a href="{{ path('fos_user_change_password') }}" class="list-group-item">Contraseña</a>
</div>