<div class="container-fluid drapp-home">
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h1>Bienvenido!</h1>
				<h4>{{ ::appController.applicationName }}</h4>
				<!-- <p>EL SISTEMA INTEGRADO PARA EL CONTROL DE PROCESOS ACADEMICOS Y ADMINISTRATIVOS DE ALDEAS UNIVERSITARIAS.</p> -->
				<p>EL SISTEMA DE INFORMACIÓN PARA EL RÉCORD DE NOTAS DE ALDEA UNIVERSITARIA CARMEN FERRER ORTIZ.</p>
				<p>
					<!-- <a class="btn btn-primary btn-lg">Leer más...</a> -->
				</p>
			</div>
		</div>
	</div>

</div>