<div class="container-fluid drapp-home">
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h1>{{ webapp_welcome }}</h1>
				<h4>{{ ::appController.applicationName }}</h4>
				<!-- <p>EL SISTEMA INTEGRADO PARA EL CONTROL DE PROCESOS ACADEMICOS Y ADMINISTRATIVOS DE ALDEAS UNIVERSITARIAS.</p> -->
				<p>{{ webapp_description }} <a title="{{ webapp_aldea }}"><i>{{ webapp_aldea }}</i></a>.</p>
				<p>
					<!-- <a class="btn btn-primary btn-lg">Leer más...</a> -->
				</p>
			</div>
		</div>
	</div>

</div>