<form name="personaCreate.form" ng-submit="personaCreate.submitEdition($event)">
	<div class="modal-header align-center">
	    <h3 class="modal-title">Registrar nueva persona</h3>
	</div>
	<div class="modal-body">
        <div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="naci">Tipo de documento *</label>
                        <ui-select ng-model="model.naci" ng-required="true" id="naci" name="naci">
                            <ui-select-match allow-clear="false" placeholder="Valores de filtro">{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices group-by="'mag'" repeat="item.value as item in nacs | filter: {label: $select.search} track by $index">
                                {{ item.label }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="cedu">N° de documento *</label>
                        <input ng-model="model.cedu" type="text" class="form-control" id="cedu" ng-required="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="nomb">Nombre *</label>
                        <input ng-model="model.nomb" type="text" class="form-control" id="nomb" ng-required="true">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="apell">Apellido *</label>
                        <input ng-model="model.apell" type="text" class="form-control" id="apell" ng-required="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="telf">Telefono *</label>
                        <input ng-model="model.telf" type="text" class="form-control" id="telf" ng-required="true">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="correo">Correo</label>
                        <input ng-model="model.correo" type="text" class="form-control" id="correo">
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer">
        <span>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
        </span>
	    <a class="btn btn-default" ng-click="close()">Cerrar</a>
	</div>
</form>
